html, body {
    margin: 0;
    box-sizing: border-box;
}
/*----------------------------navbar----------------------------*/
#navbar {
    text-align: right;
    line-height: 60px;
    background-color: #111415;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

#logo {
    position: absolute;
    display: inline;
    left: 40px;
    line-height: 60px;
}

    #logo p {
        display: inline;
        line-height: 60px;
        color: darkgrey;
    }

#toggle {
    display: none;
    line-height: 60px;
}

#navbar label {
    padding-right: 20px;
    line-height: 60px;
    font-size: 25px;
    font-weight: bold;
    display: none;
}

#menu {
    margin-right: 30px;
}

    #menu a {
        padding: 10px 15px;
        line-height: 60px;
        font-family: sans-serif;
        color: floralwhite;
        border-radius: 20px;
    }

        #menu a:hover {
            background-color: dimgrey;
        }

#logo img {
    height: 30px;
    width: 75px;
    font-weight: bold;
    line-height: 60px;
}

#logo p {
    font-family: 'Akronim';
    font-size: 28px;
    line-height: 60px;
}

@media(max-width:680px) {
    #navbar label {
        display: block;
        color: white;
        cursor: pointer;
    }

    #menu {
        text-align: center;
        display: none;
        border-top: 1px solid grey;
        margin: 0;
    }

        #menu a {
            display: block;
            border-color: grey;
            border-bottom: 1px solid grey;
            border-radius: 0px;
            line-height: 30px;
        }

    #toggle:checked + #menu {
        display: block;
    }
}
/*--------------------------SECTION-1------------------------*/
#section-1{
    background-color:slategrey;
    text-align:center;
padding:10px;
}
#section-1 h1{
font-family: 'poiret One';
font-weight: 100;
font-size: 35px;
color:black;

}
#section-1 p {
    font-family:'poiret one';
    font-size: 20px;
    color: white;
    font-weight:lighter;

}
/*--------------------------section-2---------------------*/
.speakers{
    display:grid;
    grid-template-columns:6fr 1fr;
   
}
#section-2 {
    background-color: #edf3f3;
    padding-bottom:80px;
}
#section-2 h1 {
    font-family:'poiret one';
    font-weight:300;
    font-size:25px;
    background-color:lightseagreen;
    border-radius:3px;
}
    #section-2 h3 {
        font-family: 'comic neue';
        font-weight: 300;
        font-size: 20px;
        background-color:silver;
    }
    #section-2 p {
        font-family: 'baloo chettan 2';
        font-weight: lighter;
        font-size: 19px;
    }
.speakers img {
    width: 150px;
    height: 150px;
    border-radius:50%; 
    margin-top:60px;
    border-width:100px;
    border-color:goldenrod;
    
}
.speakers-img{
    padding-left:20px;
}
#i{
   text-align:center;
}
.speakers i{
   color:cadetblue;

}
.speakers i:hover{
    color:darkcyan;
}
.speakers {
    
    width: 70%;
    margin-left: 15vw;
    padding-top:50px;
}
.speak {
   
}
@media(max-width:760px){
    .speakers {
        width: 90%;
        margin-left: 5vw;
        padding-top: 40px;
    }
}
@media(max-width:530px) {
    .speakers {
        display: grid;
        grid-template-columns:1fr;
        width: 90%;
        margin-left: 5vw;
    }

        .speakers img {
            order: 1;
        }
        .speak{
            order:2;
        }
}
/*-------------------------footer---------------------------*/
    footer {
        width: 100%;
        background-color: black;
    }

#icons {
    text-align: center;
    padding-top: 10px;
}

    #icons a {
        color: cadetblue;
        font-size: 30px;
        border-radius: 50%;
        margin: 0px 10px;
        padding: 0px 12px;
    }

        #icons a:hover {
            color: lightblue;
        }

#footer-menu {
    text-align: center;
    padding: 10px;
    font-family: 'Poiret One';
}

    #footer-menu a {
        color: white;
    }

        #footer-menu a:hover {
            color: dimgray;
        }

.footer {
    font-size: 15px;
    background-color: lightgrey;
    text-align: center;
    font-family: Arial;
    padding: 5px;
}
